{% extends "base.html" %}

{% block content %}
<hr>

{% if not created %}
<div style="margin-top: 30px;">
    <form action="." method="POST">
        {% csrf_token %}
        <div style="margin-top: 10px;">
            <input type="text" name="title" placeholder="Title" />
        </div>
        <div style="margin-top: 10px;">
            <textarea name="content" id="" placeholder="Content"></textarea>
        </div>
        <div>
            <button type="submit">Create article</button>
        </div>
    </form>
</div>
{% else %}
<p>Your new created article is here</p>
<a href='/articles/{{object.id}}/'>{{object.title}} - {{object.content}}</a>
{% endif %}

{% endblock content %}